<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{{ url_for('home_blueprint.index') }}" class="brand-link">
    <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">School MGT</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- User Panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/static/uploads/{{ session['profile_image']}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="/logout" class="d-block">{{ session['first_name'] }} - Logout</a>
      </div>
    </div>

    <!-- Sidebar Search Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- Dashboard -->
        <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
          <a href="/index" class="nav-link {% if 'index' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/index" class="nav-link {% if 'index' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Home</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Students Records Section -->
        <li class="nav-item has-treeview {% if 'students' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'students' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-user-graduate"></i>
            <p>
              Pupils' Records
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">6</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/pupils" class="nav-link {% if 'view-students' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Pupils</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_pupil" class="nav-link {% if 'add-students' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Pupils</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Classes Section -->
        <li class="nav-item has-treeview {% if 'classes' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'classes' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>
              Classes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/classess" class="nav-link {% if 'view-classes' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Classes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link {% if 'add-class' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Class</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Parents Data Section -->
        <li class="nav-item has-treeview {% if 'parents' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'parents' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-user-friends"></i>
            <p>
              Parents Data
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link {% if 'view-parents' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Parents</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link {% if 'add-parent' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Parent</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Teacher's Data Section -->
        <li class="nav-item has-treeview {% if 'teachers' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'teachers' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-chalkboard"></i>
            <p>
              Teacher's Data
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link {% if 'view-teachers' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Teachers</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link {% if 'add-teacher' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Teacher</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Academic Year Section -->
        <li class="nav-item has-treeview {% if 'academic-year' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'academic-year' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>
              Academic Year
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link {% if 'view-year' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Academic Year</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link {% if 'add-year' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Academic Year</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Identity Cards Section -->
        <li class="nav-item has-treeview {% if 'identity-cards' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'identity-cards' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-id-card"></i>
            <p>
              Identity Cards
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link {% if 'view-cards' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Identity Cards</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- User Accounts Section -->
        <li class="nav-item has-treeview {% if 'User Accounts' in segment %} menu-open {% endif %}">
          <a href="/manage_users" class="nav-link {% if 'User Accounts' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-user-cog"></i>
            <p>User Accounts <i class="fas fa-angle-left right"></i><span class="badge badge-info right">6</span></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/manage_users" class="nav-link {% if 'manage_users' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="add_user" class="nav-link {% if 'add_user' in segment %} active {% endif %}">
                <i class="far fa-plus-square nav-icon"></i>
                <p>Add User</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
