<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{{ url_for('home_blueprint.index') }}" class="brand-link">
    <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">School MGT</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- User Panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/static/uploads/{{ session['profile_image']}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="/logout" class="d-block"><i class="fas fa-sign-out-alt"></i> {{ session['first_name'] }} - Logout</a>
      </div>
    </div>

    <!-- Sidebar Search Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- Dashboard -->
        <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
          <a href="/index" class="nav-link {% if 'index' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-home"></i>
            <p>Dashboard <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/index" class="nav-link {% if 'index' in segment %} active {% endif %}">
                <i class="fas fa-circle-notch nav-icon"></i>
                <p>Home</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Pupils' Records -->
        <li class="nav-item has-treeview {% if 'students' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'students' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Pupils' Records
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">6</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/pupils" class="nav-link {% if 'view-students' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Pupils</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_pupil" class="nav-link {% if 'add-students' in segment %} active {% endif %}">
                <i class="fas fa-user-plus nav-icon"></i>
                <p>Add Pupils</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Classes -->
        <li class="nav-item has-treeview {% if 'classes' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'classes' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-school"></i>
            <p>Classes <i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/classes" class="nav-link {% if 'view-classes' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Classes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_classes" class="nav-link {% if 'add-class' in segment %} active {% endif %}">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Class</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Parents Records -->
        <li class="nav-header">Parents Records</li>

        <!-- Fathers -->
        <li class="nav-item has-treeview {% if 'parents' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'parents' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-male"></i>
            <p>Fathers <i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/fathers" class="nav-link {% if 'view-parents' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Fathers</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_father" class="nav-link {% if 'add-parent' in segment %} active {% endif %}">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Father</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Mothers -->
        <li class="nav-item has-treeview {% if 'parents' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'parents' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-female"></i>
            <p>Mothers <i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/mothers" class="nav-link {% if 'view-parents' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Mothers</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_mother" class="nav-link {% if 'add-parent' in segment %} active {% endif %}">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Mother</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Guardians -->
        <li class="nav-item has-treeview {% if 'parents' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'parents' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-user-shield"></i>
            <p>Guardians <i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/guardians" class="nav-link {% if 'view-parents' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Guardians</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_guardian" class="nav-link {% if 'add-parent' in segment %} active {% endif %}">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Guardian</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Teachers -->
        <li class="nav-item has-treeview {% if 'teachers' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'teachers' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-person-chalkboard"></i>
            <p>Teacher's Data <i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/teachers" class="nav-link {% if 'view-teachers' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Teachers</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_teacher" class="nav-link {% if 'add-teacher' in segment %} active {% endif %}">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Teacher</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Subjects -->
        <li class="nav-item has-treeview {% if 'teachers' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'teachers' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-book-open"></i>
            <p>Subjects <i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/subjects" class="nav-link {% if 'view-teachers' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Subjects</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_subject" class="nav-link {% if 'add-teacher' in segment %} active {% endif %}">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Subject</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Academic Year -->
        <li class="nav-item has-treeview {% if 'academic-year' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'academic-year' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>Study Years <i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/study_years" class="nav-link {% if 'view-year' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Study Year</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_study_years" class="nav-link {% if 'add-year' in segment %} active {% endif %}">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add SStudy Year</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Identity Cards -->
        <li class="nav-item has-treeview {% if 'identity-cards' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'identity-cards' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-id-badge"></i>
            <p>Identity Cards <i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/gen_ids" class="nav-link {% if 'view-cards' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Identity Cards</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- User Accounts -->
        <li class="nav-item has-treeview {% if 'User Accounts' in segment %} menu-open {% endif %}">
          <a href="/manage_users" class="nav-link {% if 'User Accounts' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-users-cog"></i>
            <p>User Accounts <i class="fas fa-angle-left right"></i> <span class="badge badge-info right">6</span></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/manage_users" class="nav-link {% if 'manage_users' in segment %} active {% endif %}">
                <i class="fas fa-eye nav-icon"></i>
                <p>View Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_user" class="nav-link {% if 'add_user' in segment %} active {% endif %}">
                <i class="fas fa-user-plus nav-icon"></i>
                <p>Add User</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
